page-login {

    .main_page {
	font-size: 300%;
	background-image: url("../assets/rg_1.jpg") ;
	background-size: 100%;
    }

    .login_div
    {
	position: relative;
	top: 30vw;
	width: 80%;
	margin: auto;
    }

    .identifiant {
	width: 60%;
	background-color: transparent;
	text-align: center;
	margin: auto;
	padding: 2em; 
	color: white;
    }

    .login_button {
	display: block;
	width: 60%;
	background: rgba(191, 0, 6, 0.5);
	color: rgba(255, 255, 255, 0.8);
	margin: auto;
	padding: 2em;
    }

    
    .login_logo
    {
	position: relative;
	margin: auto;
	top: 40vw; 
	width: 40%;
    }


    .logo {
	display: inline-block;
	width: 50%;

	background-size: 100%;
    }

}
