page-event-list {

.main_page {
	   background-image: url("../assets/rg_3.jpg");
	   background-size: 100%;
	   color: color($colors, primary);
	   font-size: 200%;
}

.user {
      width:80%;

      color: color($colors, primary);
      margin: 1em auto 1em auto;


      text-align: center;
      border-style: solid;
      border-color: #bf0006;
      border-width: 4px;
}

.name {
      color: #FEFEFE;
      background: transparent;

      height: 50%;
      width: 100%;

      font-weight: bold;
      font-size: 100%;
}

.score {
      color: white;
      font-weight: lighter;
      font-size: 100%;

      height: 50%;
      width: 100%;
}


.team {

      color: white;

      width: 100%;
      margin-right: auto;
      margin-top: 65px;
      
      border-left-style: solid;
      border-color: #bf0006;
      border-width: 6px;
      padding-left: 15px;

}

.other_team {
      font-size: 100%;
      width: 100%;
      text-align: right;      

      margin-top: 15px;
      border-right-style: solid;
      border-color: green;
      border-width: 6px;
      padding-right: 15px;

}


.scan {
      width: 40%;
      background: color($colors, button);
      color: color($colors, primary);
      display: block;	    
      margin: auto;
      font-size: 110%;
      font-weight: bold;
}

button:hover {
    color: grey;
}

}

.sp {
    display: inline-block;
    font-size: 60%;
    font-style: bold;
}

