<ion-header >
  <button ion-button icon-only small color="danger" (click)="goToLogin()"><ion-icon name="exit"></ion-icon></button>
</ion-header>

<ion-content  padding class="main_page">
  <div *ngIf="user">

    <div *ngIf="user" class="user">
      <div class="party" text-uppercase>{{user.party_name}}</div>
      <div class="role" text-uppercase>{{user.user_role}}</div>
      <div class="score">{{user.user_score}} pts</div>
    </div>
    
    <div class="team">
      <div class="name" text-uppercase>{{user.team_name}}</div>
      <div class="score">{{user.team_score}} pts</div>
    </div>

    <div *ngFor="let t of user.other_teams">
      <div class="other_team">
	<div class="name" text-uppercase>{{t.name}}</div>
	<div class="score">{{t.score}} pts</div>
      </div>
    </div>
  </div>

  <button ion-button  class="scan" (click)="scanQR()"><span class="sp">Acquisition</span></button>
</ion-content>


